.element-image {
	max-height: 147px;
}

.centered-column {
	float: none;
	margin: auto;
}

.photo {
	min-height: 80px;
	background: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}